.nav-bar-background {
  background-color: #f7941d;
}

.text-colour {
  color: #fff;
}

.icon-positioning {
  transform: translate(75%, 25%);
}

.margin-around {
  margin: 1rem;
  margin-right: 0;
}

.padding-within {
  padding: 1rem;
}

.info-container {
  background-color: #acd473;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-form {
  background-image: url("https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixid=MnwxMjA3fDB8MHxwaG90by1[…]fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 25vh;
}

.footer-text-color {
  background-color: #acd473;
}

.footer-padding {
  padding: 1rem;
}

.cards-padding {
  padding: 0.5rem;
}

.cards-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.height-100 {
  height: 100%;
}

#search-form {
  width: 50%;
}

.width-80 {
  width: 80%;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 0.8rem;
}
