.nav-bar-background {
  background-color: #f7941d;
}

.text-colour {
  color: #fff;
}

.icon-positioning {
  transform: translate(75%, 25%);
}

.margin-around {
  margin: 1rem;
  margin-right: 0;
}

.padding-within {
  padding: 1rem;
}

.info-container {
  background-color: #acd473;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-form {
  background-image: url("https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixid=MnwxMjA3fDB8MHxwaG90by1[…]fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.footer-text-color {
  background-color: #acd473;
}

.footer-padding {
  padding: 1rem;
}

.footer-position {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cards-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
